

{% load static %}

    {% include  "./Header.html"%}
    <!-- {% if request.session.name == None %}

   {% endif%}    -->
<body style="background-color: whitesmoke;background-image:url('../../static/images/home.jpg'); background-repeat:no-repeat;width: 100%; background-size: cover">

	<div class="container-fluid">
            <br> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 align="center">
                <img src="{% static '/images/img3.png'%}" class="mx-auto d-block" style="width: 35%">
                <br>
            </h1>  
	</div>          
	</body>
{% include  "./Footer.html"%}
	