
<body style="background-color: whitesmoke;background-image:url('../../static/images/fill-form.jpg'); background-repeat:no-repeat;width: 100%; background-size: cover"></body>


{% include  "./Header.html" %}
<div class="container">

    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" width: 600px;background-color:rgb(193,225,227);">
            <div class="modal-header text-center">
                <h4 class="modal-title " style="font-family: bold; font-size: xx-large;padding-left: 140px;">Marksheet
                    Information</h4>
            </div>
            <form class="form" method="POST">

                {% if form.error %}
                    <p style="color: red; text-align: center; font-size: x-large;"> {{ form.message }}</p>
                {% else %}
                    <p style="color:rgb(45, 187, 16) ;text-align: center;font-size: x-large;"> {{ form.message }}</p>
                {% endif %}
                <div class="modal-body">
                    <input type="hidden" name="id" value="{{ form.id }}">

                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <label class="col-lg-3 form-control-label" for="field">Roll No.<span style="color: red;"> * </span> </label>
                        <div class="col-lg-7">
                            <input class="form-control field" maxlength="10"   name="rollNumber" value="{{ form.rollNumber }}"
                                   placeholder="Enter your Roll Number">
                            <span style="color: red;"> {{ form.inputError.rollNumber }} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <label class="col-lg-3 form-control-label" for="name">Name <span style="color: red;"> * </span> </label>
                        <div class="col-lg-7">
                            <input class="form-control" maxlength="15" type="text" id="name"   name="name" value="{{ form.name }}"
                                   placeholder="Enter your Name">
                            <span style="color: red;"> {{ form.inputError.name }} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <label class="col-lg-3 form-control-label">Physics<span style="color: red;"> * </span></label>
                        <div class="col-lg-7">
                            <input class="form-control" type="number"   name="physics"
                                   value="{{ form.physics }}"
                                   placeholder="Enter your Physics Marks">
                            <span style="color: red;"> {{ form.inputError.physics }} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <label class="col-lg-3 form-control-label">Chemistry<span style="color: red;"> * </span></label>
                        <div class="col-lg-7">
                            <input class="form-control"  type="number" name="chemistry"
                                   value="{{ form.chemistry }}"
                                   placeholder="Enter your Chemistry Marks">
                            <span style="color: red;"> {{ form.inputError.chemistry }} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <label class="col-lg-3 form-control-label">Maths<span style="color: red;"> * </span></label>
                        <div class="col-lg-7">
                            <input class="form-control" ` type="number" name="maths"
                                   value="{{ form.maths }}"
                                   placeholder="Enter your Maths Marks">
                            <span style="color: red;"> {{ form.inputError.maths }} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success">Save

                            </button>
                        </div>
                        <div class="col-md-2">
                            <a href="" class="btn btn-primary">Reset

                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</body>
{% include  "./Footer.html" %}